.wrapper {
  display: flex;
  flex-flow: column;
  padding: 40px 100px;
  margin-top: 70px;
  background-color: #f4f1ff;
}
.blogH1 {
  font-size: 51px;
  text-align: center;
  margin: 10px;
  color: #4f419a;
}
.blogP {
  text-align: center;
}
@media (max-width: 961px) {
  .blogH1 {
    font-size: 41px;
  }
}
@media (max-width: 641px) {
  .blogH1 {
    font-size: 31px;
  }
}
@media (max-width: 481px) {
  .blogH1 {
    font-size: 31px;
  }
  .wrapper {
    padding: 20px;
  }
}
