.container {
  /* display: grid;
  grid-template-columns: 40% 58%; */
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: max-content;
  position: relative;
  background-size: contain;
  background-color: #ebe8ff;
  /* margin: 0px 230px; */
  /* border-radius: 25px; */
  padding: 15px 15px;
  margin-bottom: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container p {
  font-size: 14px;
  color: black;
  margin: 5px 0;
}
.container h5 {
  font-size: 16px;
  width: 80%;
}
.icon {
  font-size: 34px;
}
.form {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.form input {
  border: 0;
  outline: none;
  border: 1px solid #4f419a;
  border-radius: 4px 0px 0px 4px;
}
.button {
  width: max-content;
  padding: 9px 20px;
  font-size: 11px;
  border-radius: 0px 4px 4px 0px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: relative;
  color: #f0f0f0;
}

.Inputs {
  /* border-radius: 8px; */
  width: 70%;
  padding: 10px;
  outline: none;
  background-color: transparent;
  height: 30px;
}

/* @media(max-width: 641px){
  .container{
       padding: 15px 15px;
  }
  .container h2{
    font-size: 18px;
  }
   .container p{
    font-size: 10px;
    line-height: 3px;
  }
  .button{
        padding: 2px 17px;
    font-size: 10px;
  }
}

@media (max-width: 481px) {
   .container p{
   display: none;
  }
   .container h2{
    text-align: center;
    font-size: 13px;
  }
} */
