/*related blog post css in blog page*/
.relatedPost {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.relatedPost h5 {
  font-size: 27px;
  margin-bottom: 10px;
}
.relatedBlogPost {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: 33% 33% 33%;
}
.relatedBlogPost a {
  border-bottom: none !important ;
}
.blogBox {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;
  gap: 5px;
  width: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
}
.blogImg {
  position: relative;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  height: 170px;
}
.blogBox h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(28, 28, 28);

  cursor: pointer;
  line-height: 24px;
  margin-bottom: 00px;
}
.blogBox h4:hover {
  color: #4f419a;
}
.blogBox span,
.tagSpan {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #4f419a;
  border-radius: 8px;
  width: max-content;
  cursor: pointer;
  margin-bottom: 10px;
}
.blogBox span:hover,
.tagSpan:hover {
  color: #4f419a;
}
.bgWrap {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.bgWrap img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  height: auto;
}
.rBlogBox {
  display: flex;
  gap: 10px;
  padding: 10px 20px 20px 20px;
  flex-flow: column;
  justify-content: center;
}
.iBox {
  display: flex;
  align-items: center;
  margin-top: -10px;
  font-weight: 400;
  gap: 5px;
  color: rgb(175, 175, 175);
}
@media (max-width: 1281px) {
  .blogImg {
    position: relative;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    height: 140px;
  }
  .blogBox h4 {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .blogImg {
    height: 120px;
  }
  .rBlogBox {
    padding: 10px;
  }
  .iBox {
    font-size: 12px !important;
  }
}
@media (max-width: 801px) {
  .blogImg {
    height: 150px;
  }
  .blogBox h4 {
    font-size: 16px;
    width: 140px;
  }
}
@media (max-width: 641px) {
  .relatedBlogPost {
    grid-template-columns: 49% 49%;
  }
  .relatedPost {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
}
@media (max-width: 481px) {
  .blogBox {
    margin-bottom: 0;
  }
  .blogImg {
    height: 120px;
  }
  .iBox {
    font-size: 10px !important;
  }
}
